* {
    -lighter: #c5efce;
    -light: #2a5828;
    -medium: #083209;
    -dark: #b0d2b4;
    -darker: #5a9e61;

    /*Red Shades*/
    -rbg: #e3a4a4;
    -rbg2: #7a0000;
    -rfg: #e3a4a4;

    /*Grayscale*/
    -white: #ffffff;
    -textbox: #282828;
    -black: #000000;
    -text: -white;

    -hover-dark: #42d052;
    -hover-light: #0c4816;
    -hover-red: #d53030;
}