* {
    -lighter: #c5efce;
    -light: #b0d2b4;
    -medium: #5a9e61;
    -dark: #2a5828;
    -darker: #083209;

    /*Red Shades*/
    -rbg: #e3a4a4;
    -rbg2: #e3a4a4;
    -rfg: #7a0000;

    /*Grayscale*/
    -white: #ffffff;
    -textbox: #ffffff;
    -black: #000000;
    -text: -black;

    -hover-dark: #14791f;
    -hover-light: #3b9445;
    -hover-red: #d96262;
}